<div class="card-booking" style="background-image: linear-gradient(rgba(18, 16, 16, 0.9), rgba(62, 53, 53, 0.5)), url('https://source.unsplash.com/random/?restaurant&<%= rand(1000) %>'); background-size: cover; background-position: center;"
data-controller = 'countdown'
data-countdown-text-value = "<%=booking.updated_at%>"
data-countdown-booking-value = "<%=booking.id%>"
data-countdown-card-type-value = ":warning">

    <div class="card-header">
        <h2><%= booking.restaurant.name%></h2>

    </div>
    <div class="card-body">
        <p class="rating" data-countdown-target = 'timer'></p>
    </div>


    <div class="card-footer">
        <div class="footer-button-s">
            <a href="<%= booking_path(booking.id) %>" data-turbo-method="delete">Leave Queue</a>
        </div>
        <div class="footer-button">
            <a href="<%= restaurant_accept_booking_path(booking.id) %>" data-turbo-method="patch"> Accept Booking</a>
        </div>
    </div>


</div>
