
<!-- This is the  Que / Completed toggle -->

<div class="container-fluid py-3 fixed-section">
  <div class="btn-group d-flex justify-content-center" role="group" aria-label="Vertical radio toggle button group">
    <a href="<%= bookings_path %>" class="btn btn-outline-primary mx-2" style="height: 30px; width: 50%; align-content: center;">Queue</a>
    <a href="<%= completed_bookings_path %>" class="btn btn-outline-secondary mx-2" style="height: 30px; width: 50%; align-content: center;">Completed</a>
  </div>
</div>
<%if @joined%>

   <%= render 'booking_joined_card', booking: @joined, queue_position: 0, status: 'joined'%>
<%else%>
  <%= render 'booking_list', booking_infos: @booking_infos, status: 'not_joined'%>
<%end%>


<!-- Footer for the Queue (do not render as I have had to do a manual thing - cyrus) -->
<%= render 'shared/footer'%>
