

<div class="container-fluid py-0 fixed-section" data-controller="search-restaurants">

  <!-- This is the search bar -->

  <div class="container-restaurant">
    <%= form_with url: restaurants_path, method: :get, html: {class: "mb-4", data: {search_restaurants_target: "form"}} do |f|%>
      <%= f.text_field :query,
                        class: "form-control",
                        placeholder: "Search for a restaurant",
                        value: params[:query],
                        data: {search_restaurants_target: "input",
                        action: "keyup->search-restaurants#update"}%>
      <%end%>
  </div>

<!-- This is the cards for the filters  -->

  <div class="row flex-nowrap overflow-auto m-2" style="width: 100vw;">
    <div class="col-auto mr-3 p-0" data-controller="type" data-action="change->type#select">
      <input class="type" type="checkbox" id="italian" data-type-target="input">
      <label for="italian"><i class="icon fa-solid fa-pizza-slice"></i><br>Italian</label>
    </div>
    <div class="col-auto mr-3 p-0" data-controller="type" data-action="change->type#select">
      <input class="type" type="checkbox" id="mexican">
      <label for="mexican"><i class="icon fa-solid fa-pepper-hot"></i><br>Mexican</label>
    </div>
    <div class="col-auto mr-3 p-0" data-controller="type" data-action="change->type#select">
      <input class="type" type="checkbox" id="indian">
      <label for="indian"><i class="icon fa-solid fa-bowl-food"></i><br>Indian</label>
    </div>
    <div class="col-auto mr-3 p-0" data-controller="type" data-action="change->type#select">
      <input class="type" type="checkbox" id="chinese">
      <label for="chinese"><i class="icon fa-solid fa-bowl-rice"></i><br>Chinese</label>
    </div>
    <div class="col-auto mr-3 p-0" data-controller="type" data-action="change->type#select">
      <input class="type" checked type="checkbox" id="thai">
      <label for="thai"><i class="icon fa-solid fa-shrimp"></i><br>Thai</label>
    </div>
    <div class="col-auto mr-3 p-0" data-controller="type" data-action="change->type#select">
      <input class="type" type="checkbox" id="american">
      <label for="american"><i class="icon fa-solid fa-burger"></i><br>American</label>
    </div>
  </div>

  <div class="card-container">
    <%= render "list-card", restaurants:@restaurants%>
  </div>

</div>


<!-- Footer for the home page (do not render as I have had to do a manual thing - cyrus) -->
<footer class="footer">
    <nav class="footer-nav">
        <div class="footer-section">
            <a href="map">
                <img src="https://res.cloudinary.com/dqbiijjlp/image/upload/v1715860282/ofarf6aoairysld5eghg.png" alt="Home">
                <span>Search</span>
            </a>
        </div>
        <div class="footer-section">
            <a href="bookings">
                <img src="https://res.cloudinary.com/dqbiijjlp/image/upload/v1715860282/xfjzjdi2tbeyb8wwzoja.png" alt="About">
                <span style="color: #E82E64">Queue</span>
            </a>
        </div>
        <div class="footer-section">
            <a href="<%= destroy_user_session_path %>" data-turbo-method="delete" class="dropdown-item">
                <img src="https://res.cloudinary.com/dqbiijjlp/image/upload/v1715860282/hddpgefap6eu4ce1dmoe.png" alt="Contact">
                <span>Log out</span>
            </a>
        </div>
    </nav>
</footer>

<!-- toggle for the view component -->
<div class="fixed-button">
    <a href="<%= restaurant_map_path %>">
        <img src="https://res.cloudinary.com/dqbiijjlp/image/upload/v1715869457/rghwiicljemcv57a50ga.png" alt="Button Image">
    </a>
</div>
