<h1 class="text-center"> <%=@venue.name%>  </h1>
<div class="venue-queue-container bg-light" >
  <div class="row w-60">
      <div class="col ">
        <%= render 'queue', groups: @bookings.where(accepted:false), title: "Current Queue", parameter:"Queue Size"%>


        <div class="d-flex justify-content-center p-3">
          <%if @bookings.where(accepted:false, completed:false, join:false).empty?%>

              <div class="add-booking">
                <%= button_to "Accept next group", venue_add_group_path(@venue),class: 'btn btn-lg btn-info disabled rounded'%>
            </div>
          <%else%>
            <div class="add-booking">
              <%= button_to "Accept next group", venue_add_group_path(@venue), class: 'btn btn-lg btn-primary rounded-5 text-white'%>
            </div>
          <%end%>

        </div>



        </div>

        <div class="col">
          <%= render 'queue', groups: @bookings.where(accepted:true), title: "Accepted Bookings", parameter: "On Route"%>
        </div>
        <div class="col">
          <%=render 'queue', groups: [], title: 'Reviews', parameter: 'Completed Bookings'%>
        </div>
  </div>

</div>
