<div class="container-show">


  <!-- Centered name -->
  <div class="header-show">
  <h5 class="text-center"><%= @restaurant.name %></h5>
  </div>

  <%= render "carousel", restaurants:@restaurants%>

  <!-- Cards -->
  <div class="row mt-2">

    <div class="col-4 col-custom">
      <div class="card rounded-custom" style="height: 80px; background-color: white;border-radius: 10px;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
        <div class="card-body text-center">
          <div>
          <h1><i class="fa-solid fa-pizza-slice"></i></h1>
          </div>
          <div>
          Italian
          </div>
        </div>
      </div>
    </div>


    <div class="col-4 col-custom">
      <div class="card rounded-custom" style="height: 80px; background-color: white;border-radius: 10px;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
        <div class="card-body text-center">
          <h1>7.9</h1>
          <div>
          Rating
          </div>
        </div>
      </div>
    </div>


    <div class="col-4 col-custom">
      <div class="card rounded-custom" style="height: 80px; background-color: white;border-radius: 10px;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
        <div class="card-body text-center">
          <h1>15</h1>
          <div>
            Est min
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Restaurant Details -->
  <h6 class="mt-3 text-center"><strong>Details</strong></h6>
  <p class="p-show text-center"><%= @restaurant.details %></p>

  <h6 class="mt-3 text-center"><strong>Address</strong></h6>
  <p class="p-show text-center"><%= @restaurant.address %></p>

  <h6 class="mt-3 text-center"><strong>Reviews</strong></h6>


  <!-- Review Card Final -->

   <% @reviews.each do |review| %>
    <div class="review-card-final">
      <div class="review-card">
        <div class="user-info">
            <div class="user-avatar">
              <img src="https://source.unsplash.com/random/?user" alt="User Avatar">
            </div>
          <div class="user-name"><%= review.user.name %></div>
        </div>

        <div class="rating">
        <span>Rating: <%= review.rating %></span>
        </div>

        <div class="comment_review_card">
          <h2><%= review.comment %></h2>
        </div>

        <div class="comment_review_card">
          <p><%= review.created_at.strftime("%B %d, %Y") %></p>
        </div>

      </div>
     </div>
  <% end %>
</div>


<!-- Back button -->
<div class="button-container">
  <a href="javascript:history.back()" class="back-to-top">
    <div class="button rounded-left">
      <i class="fas fa-arrow-left"></i>
    </div>
  </a>
  <!-- Second button -->
  <%if !@booking_status%>
    <%=link_to "Join Queue", restaurant_join_queue_path(@restaurant.id), class:"button rounded-right", data:{turbo_method: :post}%>

  <%elsif !@booking_status.join%>
    <%=link_to "Leave Queue", booking_path(@booking_status.id), class:"button rounded-right", data:{turbo_method: :delete, confirm: "Are you sure?"}%>
  <%else%>

  <%end%>

</div>
